@page "/"

<PageTitle>Login</PageTitle>

<RadzenStack Gap="0" class="rz-my-12 rz-mx-auto rz-border-radius-6 rz-shadow-10" Style="width: 100%; max-width: 400px; overflow: hidden;">
    <RadzenCard class="rz-shadow-0 rz-border-radius-0 rz-p-12" style="text-align: center; background-color : cornflowerblue">
        <RadzenText TextStyle="TextStyle.DisplayH3" TagName="TagName.H2" class="rz-color-white rz-mb-0">IMS - Login</RadzenText>
    </RadzenCard>
    <RadzenCard class="rz-shadow-0 rz-p-12">
        <EditForm Model="_LoginModel" OnValidSubmit="Submit" OnInvalidSubmit="InvalidSubmit" FormName="LoginForm">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row">
                <span class="text-danger">@inValidMessage</span>
            </div>

            <div class="row">
                <label for="email">Username</label><br />
                <input type="text" id="uname" @bind-value="_LoginModel.Username" placeholder="Type your Username" /><br />
                <ValidationMessage For="@(() => _LoginModel.Username)" />
            </div>

            <div class="row">
                <label for="password">Password</label><br />
                <input type="@inputType" id="pass" @bind-value="_LoginModel.Password" placeholder="Type your password" /><br />
                <ValidationMessage For="@(() => _LoginModel.Password)" />
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    <input type="checkbox" @onclick="ToggleShowPassword" />
                </div>
                <div class="col-10">
                    <div class="d-flex align-content-center">
                        <span class="small">Show Password</span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary w-75" disabled="@isLoading">
                        @if (isLoading)
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span>Login</span>
                        }
                    </button>
                </div>
            </div>
        </EditForm>
    </RadzenCard>
</RadzenStack>