@page "/categoryList"
@using IMS.Shared.DTOs.Category.Response
@using IMS.Shared.DTOs.Product.Response
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

@if (CategoryDetailList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Total Products</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Category in CategoryDetailList)
            {
                <tr>
                    <td>@Category.Name</td>
                    <td>@Category.ProductCount</td>
                    <td>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="@(() => ViewProducts(@Category.Id, Category.Name))">View Products</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @* <div class="card">
        <div class="card-header">
            <div class="card-title">
                Category List
            </div>
        </div>
        <div class="card-body">
            <RadzenDataGrid @ref="CategoryGrid" 
                Data="@CategoryDetailList" 
                TItem="CategoryResponseDto" 
                AllowPaging="true" 
                PageSize="10" 
                AllowSorting="true"
                EmptyText="No Record Found">
                <Columns>
                    <RadzenDataGridColumn TItem="CategoryResponseDto" Property="CategoryCode" Title="Code" Width="120px" />
                    <RadzenDataGridColumn TItem="CategoryResponseDto" Property="Name" Title="Name" Width="120px" />
                    <RadzenDataGridColumn TItem="CategoryResponseDto" Property="CategoryName" Title="Category" Width="120px" />
                    <RadzenDataGridColumn TItem="CategoryResponseDto" Property="UnitPrice" Title="Unit Price" Width="120px" />
                    <RadzenDataGridColumn TItem="CategoryResponseDto" Property="CurrentStock" Title="Current Stock" Width="120px" />
                    <RadzenDataGridColumn TItem="CategoryResponseDto" Property="CreatedDate" Title="Created Date" FormatString="{0:MM/dd/yyyy}" Width="120px" />
                </Columns>
            </RadzenDataGrid>
        </div>
    </div> *@
}

@code {
    private List<CategoryDetailResponseDto> CategoryDetailList { get; set; } = new();
    // protected RadzenDataGrid<CategoryResponseDto>? CategoryGrid = new RadzenDataGrid<CategoryResponseDto>();


    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    #region On Load Grid Data
    private async Task LoadData()
    {
        try
        {
            var response = await clientApiService.SendGetAsync<List<CategoryDetailResponseDto>>($"Category/GetCategoryList");
            if (response.IsSuccessStatusCode)
            {
                CategoryDetailList = (List<CategoryDetailResponseDto>)response.ResultData;

                await InvokeAsync(StateHasChanged);
            }
            else
            {
                Console.WriteLine("Error While Calling API");
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
    #endregion

    private void ViewProducts(Guid categoryId, string categoryName)
    {
        navigationManager.NavigateTo($"/productList/{categoryName}/{categoryId}");
    }
}
