@page "/home"
@using IMS.Shared.DTOs.Category.Response
@using IMS.Shared.DTOs.StockTransaction.Response
@using IMS.Web.Components.Pages.StockTransaction.Dialogs

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <h1>Dashboard</h1>
    </div>

    <div class="my-3">
        <h2>Categories</h2>
    </div>

    <div class="row my-2">
        @foreach (var category in CategoryDetailList)
        {
            <div class="col-md-3">
                <div class="card my-3">
                    <div class="card-header d-flex justify-content-center">
                        <h3>@category.Name</h3>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <p>@category.ProductCount @(category.ProductCount > 1 ? "Products" : "Product")</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="my-3">
        <h2>Transactions</h2>
    </div>

    @if (loginState.Role == "admin")
    {
        <button class="btn btn-primary btn-sm my-3 mx-2" type="button" @onclick="@(() => StockTransaction("IN"))">Stock In</button>
    }
    <button class="btn btn-primary btn-sm my-3 mx-2" type="button" @onclick="@(() => StockTransaction("OUT"))">Stock Out</button>

    @if (loginState.Role == "admin")
    {
        <div class="card my-3 mb-3">
            <div class="card-body">
                <RadzenDataGrid @ref="TransactionGrid"
                                Data="@TransactionDetailList?.OrderByDescending(x => x.CreatedDate)"
                                TItem="StockTransactionDetailResponseDto"
                                AllowPaging="true"
                                PageSize="10"
                                AllowSorting="true"
                                EmptyText="No Record Found"
                                Count="@(TransactionDetailList?.Count ?? 0)"
                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                PageSizeText="Items Per Page"
                                PageSizeOptions="@(new List<int> { 10, 25, 50, 100 })"
                                PagingSummaryFormat=""
                                ShowPagingSummary="true">
                    <Columns>
                        <RadzenDataGridColumn TItem="StockTransactionDetailResponseDto" Property="TransactionType" Title="Type" Width="120px" />
                        <RadzenDataGridColumn TItem="StockTransactionDetailResponseDto" Property="ProductName" Title="Product Name" Width="120px" />
                        <RadzenDataGridColumn TItem="StockTransactionDetailResponseDto" Property="Quantity" Title="Quantity" Width="120px" />
                        <RadzenDataGridColumn TItem="StockTransactionDetailResponseDto" Property="CreatedBy" Title="Created By" Width="120px" />
                        <RadzenDataGridColumn TItem="StockTransactionDetailResponseDto" Property="CreatedDate" Title="Transaction Date" FormatString="{0:MM/dd/yyyy}" Width="120px" />
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    }

</div>

@code {
    private List<CategoryDetailResponseDto> CategoryDetailList { get; set; } = new();
    private List<StockTransactionDetailResponseDto> TransactionDetailList { get; set; } = new();
    protected RadzenDataGrid<StockTransactionDetailResponseDto>? TransactionGrid = new RadzenDataGrid<StockTransactionDetailResponseDto>();


    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
        await LoadTransactions();
    }

    #region On Load Grid Data
    private async Task LoadCategories()
    {
        try
        {
            var response = await clientApiService.SendGetAsync<List<CategoryDetailResponseDto>>($"Category/GetCategoryList");
            if (response.IsSuccessStatusCode)
            {
                CategoryDetailList = (List<CategoryDetailResponseDto>)response.ResultData;

                await InvokeAsync(StateHasChanged);
            }
            else
            {
                Console.WriteLine("Error While Calling API");
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

    private async Task LoadTransactions()
    {
        try
        {
            var response = await clientApiService.SendGetAsync<List<StockTransactionDetailResponseDto>>($"Transaction/GetTransactionList");
            if (response.IsSuccessStatusCode)
            {
                TransactionDetailList = (List<StockTransactionDetailResponseDto>)response.ResultData;

                await InvokeAsync(StateHasChanged);
            }
            else
            {
                Console.WriteLine("Error While Calling API");
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
    #endregion

    private async Task StockTransaction(string type)
    {
        try
        {
            var result = await dialogService.OpenAsync<StockTransactionDialog>((type == "IN" ? "Stock In" : "Stock Out"),
                new Dictionary<string, object> {
                    { "TransactionType", type }
                },
                new DialogOptions() { Width = "30%" });
            if (result != null)
            {
                await LoadCategories();
                await LoadTransactions();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
