@page "/categoryList"
@using IMS.Shared.DTOs.Category.Response
@using IMS.Shared.DTOs.Product.Response
@using IMS.Web.Components.Pages.Category.Dialogs
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Categories</PageTitle>

<h1>Categories</h1>

<button class="btn btn-primary btn-sm my-3" type="button" @onclick="@(() => AddEditCategory(null))">Add Category</button>
@* <RadzenButton class="btn btn-primary btn-sm my-3" Click="@(() => AddEditCategory(null))">
    Add Category
</RadzenButton> *@

@if (CategoryDetailList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h3>Category List</h3>
            </div>
        </div>
        <div class="card-body">
            <RadzenDataGrid @ref="CategoryGrid"
                            Data="@CategoryDetailList"
                            TItem="CategoryDetailResponseDto"
                            AllowPaging="true"
                            PageSize="10"
                            AllowSorting="true"
                            EmptyText="No Record Found"
                            Count="@(CategoryDetailList?.Count ?? 0)"
                            PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                            PageSizeText="Items Per Page"
                            PageSizeOptions="@(new List<int> { 10, 25, 50, 100 })"
                            PagingSummaryFormat=""
                            ShowPagingSummary="true">
                <Columns>
                    <RadzenDataGridColumn TItem="CategoryDetailResponseDto" Property="Name" Title="Name" Width="120px" />
                    <RadzenDataGridColumn TItem="CategoryDetailResponseDto" Property="ProductCount" Title="Total Products" Width="120px" />
                    <RadzenDataGridColumn TItem="CategoryDetailResponseDto" Title="Action" CssClass="text-center" Sortable="false" Width="120px" >
                        <Template Context="item">
                            <div class="justify-content-center">
                                <button class="btn btn-primary btn-sm" type="button" @onclick="@(() => navigationManager.NavigateTo($"/productList/{@item.Name}/{item.Id}"))">View Products</button>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
}

@code {
    private List<CategoryDetailResponseDto> CategoryDetailList { get; set; } = new();
    protected RadzenDataGrid<CategoryDetailResponseDto>? CategoryGrid = new RadzenDataGrid<CategoryDetailResponseDto>();


    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    #region On Load Grid Data
    private async Task LoadData()
    {
        try
        {
            var response = await clientApiService.SendGetAsync<List<CategoryDetailResponseDto>>($"Category/GetCategoryList");
            if (response.IsSuccessStatusCode)
            {
                CategoryDetailList = (List<CategoryDetailResponseDto>)response.ResultData;

                await InvokeAsync(StateHasChanged);
            }
            else
            {
                Console.WriteLine("Error While Calling API");
            }
        }
        catch (Exception)
        {
            throw;
        }
    }
    #endregion

    private async Task AddEditCategory(Guid? CategoryId)
    {
        try
        {
            var result = await dialogService.OpenAsync<AddEditCategoryDialog>((CategoryId == null ? "Add Category" : "Edit Category"),
                new Dictionary<string, object> {
                    { "CategoryId", CategoryId }
                },
                new DialogOptions() { Width = "30%" });
            if (result != null)
            {
                await LoadData();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
