@page "/categoryList"
@using IMS.Shared.DTOs.Category.Response
@using IMS.Shared.DTOs.Product.Response
@using IMS.Web.Components.Pages.Category.Dialogs
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Categories</PageTitle>

<div class="container-fluid">
    <h1>Categories</h1>

    @if (loginState.Role == "admin")
    {

        <button class="btn btn-primary btn-sm my-3" type="button" @onclick="@(() => AddEditCategory(null))">Add Category</button>
    }
    @if (CategoryDetailList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h3>Category List</h3>
                </div>
            </div>
            <div class="card-body">
                <RadzenDataGrid @ref="CategoryGrid"
                                Data="@CategoryDetailList"
                                TItem="CategoryDetailResponseDto"
                                AllowPaging="true"
                                PageSize="10"
                                AllowSorting="true"
                                AllowFiltering="true"
                                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                EmptyText="No Record Found"
                                Count="@(CategoryDetailList?.Count ?? 0)"
                                PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                PageSizeText="Items Per Page"
                                PageSizeOptions="@(new List<int> { 10, 25, 50, 100 })"
                                PagingSummaryFormat=""
                                ShowPagingSummary="true">
                    <Columns>
                        <RadzenDataGridColumn TItem="CategoryDetailResponseDto" Property="Name" Title="Name" Width="120px" />
                        <RadzenDataGridColumn TItem="CategoryDetailResponseDto" Property="ProductCount" Title="Total Products" Width="120px" />
                        <RadzenDataGridColumn TItem="CategoryDetailResponseDto" Title="Status" CssClass="text-center" Sortable="false" Width="60px">
                            <Template Context="item">
                                @if (item.IsActive)
                                {
                                    <p class="text-center mb-0 fw-bold text-primary">Active</p>
                                }
                                else
                                {
                                    <p class="text-center mb-0 fw-bold text-danger">In Active</p>
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="CategoryDetailResponseDto" Title="Action" CssClass="text-center" Sortable="false" Width="60px">
                            <Template Context="item">
                                <div class="justify-content-center">
                                    @if (loginState.Role == "admin")
                                    {
                                        <a aria-label="anchor"
                                           @onclick="@(() => AddEditCategory(item.Id))"
                                           title="Edit"
                                           class="btn btn-primary btn-sm me-2">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                    }
                                    <a aria-label="anchor"
                                       @onclick="@(() => navigationManager.NavigateTo($"/productList/{@item.Name}/{item.Id}"))"
                                       title="View Products"
                                       class="btn btn-primary btn-sm me-2">
                                        <i class="bi bi-diagram-2"></i>
                                    </a>

                                    @if (loginState.Role == "admin")
                                    {
                                        <a aria-label="anchor"
                                           @onclick="@(() => DeleteCategory(item.Id))"
                                           title="Delete"
                                           class="btn btn-danger btn-sm me-2">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    }
                                </div>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    }
</div>

@code {
    private List<CategoryDetailResponseDto> CategoryDetailList { get; set; } = new();
    protected RadzenDataGrid<CategoryDetailResponseDto>? CategoryGrid = new RadzenDataGrid<CategoryDetailResponseDto>();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    #region On Load Grid Data
    private async Task LoadData()
    {
        try
        {
            var response = await clientApiService.SendGetAsync<List<CategoryDetailResponseDto>>($"Category/GetCategoryList");
            if (response.IsSuccessStatusCode)
            {
                CategoryDetailList = (List<CategoryDetailResponseDto>)response.ResultData;

                await InvokeAsync(StateHasChanged);
            }
            else
            {
                Console.WriteLine("Error While Calling API");
                var message = new NotificationMessage
                {
                    Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Something went wrong.",
                    Duration = 4000
                };
                notificationService.Notify(message);
            }
        }
        catch (Exception)
        {
            var message = new NotificationMessage
            {
                Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = "Something went wrong.",
                Duration = 4000
            };
            notificationService.Notify(message);
            throw;
        }
    }
    #endregion

    private async Task AddEditCategory(Guid? CategoryId)
    {
        try
        {
            var result = await dialogService.OpenAsync<AddEditCategoryDialog>((CategoryId == null ? "Add Category" : "Edit Category"),
                new Dictionary<string, object> {
                    { "CategoryId", CategoryId }
                },
                new DialogOptions() { Width = "30%" });
            if (result != null)
            {
                await LoadData();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            var message = new NotificationMessage
            {
                Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = "Something went wrong.",
                Duration = 4000
            };
            notificationService.Notify(message);
        }
    }

    private async Task DeleteCategory(Guid Id)
    {
        try
        {
            bool? dialogResponse = await dialogService.Confirm(
                                           "Are you sure you want to delete? All the related Products would also be deleted.",
                                           "Confirm",
                                           new ConfirmOptions()
                                           {
                                               CancelButtonText = "Cancel",
                                               OkButtonText = "Delete"
                                           });
            if (dialogResponse == true)
            {

                var response = await clientApiService.SendAsync<Guid, object>(HttpMethod.Post, $"Category/DeleteCategory/{Id}", Id, hasReturnData: false);
                if (response.IsSuccessStatusCode)
                {
                    dialogService.Close(Id);
                    var message = new NotificationMessage
                    {
                        Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                        Severity = NotificationSeverity.Success,
                        Summary = "Success",
                        Detail = "Category Deleted Successfully",
                        Duration = 4000
                    };
                    notificationService.Notify(message);
                    await LoadData();
                }
                else
                {
                    Console.WriteLine("Error While Calling API");
                    var message = new NotificationMessage
                    {
                        Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                        Severity = NotificationSeverity.Error,
                        Summary = "Error",
                        Detail = "Something went wrong.",
                        Duration = 4000
                    };
                    notificationService.Notify(message);
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            var message = new NotificationMessage
            {
                Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = "Something went wrong.",
                Duration = 4000
            };
            notificationService.Notify(message);
        }
    }
}
