@page "/productList/{CategoryName}/{CategoryId}"
@using IMS.Shared.DTOs.Product.Response
@using IMS.Web.Components.Pages.Product.Dialogs
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Products</PageTitle>
<div class="container-fluid">
    <h1>Products</h1>
    @if (loginState.Role == "admin")
    {
        <button class="btn btn-primary btn-sm my-3" type="button" @onclick="@(() => AddEditProduct(null, Guid.Parse(CategoryId)))">Add Product</button>
    }
    @if (productDetailList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h3>@CategoryName Items</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <RadzenDataGrid @ref="ProductGrid"
                                    Data="@productDetailList?.OrderByDescending(x => x.CreatedDate)"
                                    TItem="ProductDetailResponseDto"
                                    AllowPaging="true"
                                    PageSize="10"
                                    AllowSorting="true"
                                    EmptyText="No Record Found"
                                    Count="@(productDetailList?.Count ?? 0)"
                                    PagerHorizontalAlign="Radzen.HorizontalAlign.Center"
                                    PageSizeText="Items Per Page"
                                    PageSizeOptions="@(new List<int> { 10, 25, 50, 100 })"
                                    PagingSummaryFormat=""
                                    ShowPagingSummary="true">
                        <Columns>
                            <RadzenDataGridColumn TItem="ProductDetailResponseDto" Property="ProductCode" Title="Code" Width="120px" />
                            <RadzenDataGridColumn TItem="ProductDetailResponseDto" Property="Name" Title="Name" Width="120px" />
                            <RadzenDataGridColumn TItem="ProductDetailResponseDto" Property="UnitPrice" Title="Unit Price" Width="120px" />
                            <RadzenDataGridColumn TItem="ProductDetailResponseDto" Property="CurrentStock" Title="Current Stock" Width="120px" />
                            <RadzenDataGridColumn TItem="ProductDetailResponseDto" Title="Status" CssClass="text-center" Sortable="false" Width="60px">
                                <Template Context="item">
                                    @if (item.IsActive)
                                    {
                                        <p class="text-center mb-0 fw-bold text-primary">Active</p>
                                    }
                                    else
                                    {
                                        <p class="text-center mb-0 fw-bold text-danger">In Active</p>
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="ProductDetailResponseDto" Property="CreatedDate" Title="Created Date" FormatString="{0:MM/dd/yyyy}" Width="120px" />
                            @if (loginState.Role == "admin")
                            {
                                <RadzenDataGridColumn TItem="ProductDetailResponseDto" Title="Action" CssClass="text-center" Sortable="false" Width="60px">
                                    <Template Context="item">
                                        <div class="justify-content-center">
                                            <a aria-label="anchor"
                                               @onclick="@(() => AddEditProduct(item.Id, Guid.Parse(CategoryId)))"
                                               title="Edit"
                                               class="btn btn-primary btn-sm me-2">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            @if (loginState.Role == "admin")
                                            {
                                                <a aria-label="anchor"
                                                   @onclick="@(() => DeleteProduct(item.Id))"
                                                   title="Delete"
                                                   class="btn btn-danger btn-sm me-2">
                                                    <i class="bi bi-trash"></i>
                                                </a>
                                            }
                                        </div>
                                    </Template>
                                </RadzenDataGridColumn>
                            }
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string CategoryId { get; set; }
    [Parameter]
    public string CategoryName { get; set; }
    private List<ProductDetailResponseDto> productDetailList { get; set; } = new();
    protected RadzenDataGrid<ProductDetailResponseDto>? ProductGrid = new RadzenDataGrid<ProductDetailResponseDto>();


    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    #region On Load Grid Data
    private async Task LoadData()
    {
        try
        {
            var response = await clientApiService.SendGetAsync<List<ProductDetailResponseDto>>($"Product/GetProductsByCategory?Id={Guid.Parse(CategoryId)}");
            if (response.IsSuccessStatusCode)
            {
                productDetailList = (List<ProductDetailResponseDto>)response.ResultData;

                await InvokeAsync(StateHasChanged);
            }
            else
            {
                Console.WriteLine("Error While Calling API");
                var message = new NotificationMessage
                {
                    Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Something went wrong.",
                    Duration = 4000
                };
                notificationService.Notify(message);
            }
        }
        catch (Exception)
        {
            var message = new NotificationMessage
            {
                Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = "Something went wrong.",
                Duration = 4000
            };
            notificationService.Notify(message);
            throw;
        }
    }
    #endregion

    private async Task AddEditProduct(Guid? ProductId, Guid CategoryId)
    {
        try
        {
            var result = await dialogService.OpenAsync<AddEditProductDialog>((ProductId == null ? "Add Product" : "Edit Product"),
                new Dictionary<string, object> {
                    { "ProductId", ProductId },
                    { "CategoryId", CategoryId }
                },
                new DialogOptions() { Width = "30%" });
            if (result != null)
            {
                await LoadData();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            var message = new NotificationMessage
            {
                Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = "Something went wrong.",
                Duration = 4000
            };
            notificationService.Notify(message);
        }
    }

    private async Task DeleteProduct(Guid Id)
    {
        try
        {
            bool? dialogResponse = await dialogService.Confirm(
                                           "Are you sure you want to delete? All the related Transactions would also be deleted.",
                                           "Confirm",
                                           new ConfirmOptions()
                                           {
                                               CancelButtonText = "Cancel",
                                               OkButtonText = "Delete"
                                           });
            if (dialogResponse == true)
            {

                var response = await clientApiService.SendAsync<Guid, object>(HttpMethod.Post, $"Product/DeleteProduct/{Id}", Id, hasReturnData: false);
                if (response.IsSuccessStatusCode)
                {
                    dialogService.Close(Id);
                    var message = new NotificationMessage
                    {
                        Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                        Severity = NotificationSeverity.Success,
                        Summary = "Success",
                        Detail = "Product Deleted Successfully",
                        Duration = 4000
                    };
                    notificationService.Notify(message);
                    await LoadData();
                }
                else
                {
                    Console.WriteLine("Error While Calling API");
                    var message = new NotificationMessage
                    {
                        Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                        Severity = NotificationSeverity.Error,
                        Summary = "Error",
                        Detail = "Something went wrong.",
                        Duration = 4000
                    };
                    notificationService.Notify(message);
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            var message = new NotificationMessage
            {
                Style = "position: fixed !important; top: 20px; left: 50%; transform: translateX(-50%); z-index: 9999;",
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = "Something went wrong.",
                Duration = 4000
            };
            notificationService.Notify(message);
        }
    }

}
